!!!
%html
  %head
    %title Ciber Development Update
    = haml :"templates/header_imports"
    -green = '#821CB4'
    -purple = '#B3DB11'
  %body
    = haml :"templates/nav"
    .container
      Welcome to Ciber Development Update 2014. Stay a while, and listen!
      %br
      %a{:href => "/cfp", :class => "no-underline"}
        %div{:class => "col-lg-12 big-btn", :style => "background: #{purple}; color: #{green};"}
          Call for Papers    
      %a{:href => "/cfp/suggestions", :class => "no-underline"}
        %div{:class => "col-lg-12 big-btn", :style => "background: #{green}; color: #{purple};"}
          Se forslag
      /
        %a{:href => "/track/Felles", :class => "no-underline"}
          %div{:class => "col-lg-12 big-btn", :style => "background: #{green}; color: #{purple};"}
            Felles
        %a{:href => "/track/1", :class => "no-underline"}
          %div{:class => "col-lg-12 big-btn", :style => "background: #{purple}; color: #{green};"}
            Track 1
        %a{:href => "/track/2", :class => "no-underline"}
          %div{:class => "col-lg-12 big-btn", :style => "background: #{green}; color: #{purple};"}
            Track 2
        %a{:href => "/track/now", :class => "no-underline"}
          %div{:class => "col-lg-12 big-btn", :style => "background: #{purple}; color: #{green};"}
            Just nu
