%div.comment{:style => "background: #eee;"}
  Tittel: #{value["title"]}
  %br
  Beskrivelse: #{value["description"]}
  %br
  Format: #{value["format"]}
  %br
  Type: #{value["type"]}
  %br
  Ansvarlig: #{value["responsible"]}
  %br
.padding